<div class="limiter">
  <div class="login-box">
    <div class="inside-login">
      <h1 class="title">Login</h1>

      <form [formGroup]="logInUser" class="validate-form">

        <div class="form-field validate-input" data-validate="Enter email">
          <input type="email" name="email" formControlName="email" placeholder="Email" />
          <span data-placeholder="&#xf0e0;"></span>
        </div>

        <div class="form-field validate-input" data-validate="Enter password">
          <input type="password" name="password" formControlName="password" placeholder="Password" />
          <span data-placeholder="&#xf023;"></span>
        </div>

        <div class="button-group">
          <button class="btn login-button" type="button" (click)="logInUserBtn($event)">Logearse</button>
          <button class="btn register-button" type="button" (click)="registerUserBtn($event)">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>
