<div class="page-container">
  <div class="card">
    <h2 class="card-title">Lista de Empleados</h2>

    <div class="header-grid">
      <span>Nombre</span>
      <span>Apellido</span>
      <span>Email</span>
      <span>Teléfono</span>
      <span>Activo</span>
      <span>Acción</span>
    </div>
    <div class="employee-list-container">
      <ul class="employee-list">
        <li *ngFor="let employee of employees" class="employee-item">
          <div class="employee-grid">
            <span>{{ employee.name }}</span>
            <span>{{ employee.lastName }}</span>
            <span>{{ employee.email }}</span>
            <span>{{ employee.phone }}</span>
            <span>{{ employee.active ? "Sí" : "No" }}</span>
            <button class="delete-button" (click)="deleteUsuario(employee.id)">
              Eliminar
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
