<div class="limiter">
  <div class="register-box">
    <h1 class="title">Registro</h1>

    <form [formGroup]="userRegisterForm">
      <!-- Nombre de Usuario -->
      <div class="form-field">
        <input
          type="text"
          placeholder="Nombre de Usuario"
          formControlName="username"
        />
      </div>

      <!-- Email -->
      <div class="form-field">
        <input type="email" placeholder="Email" formControlName="email" />
      </div>

      <!-- Número de Teléfono -->
      <div class="form-field">
        <input
          type="text"
          placeholder="Número de Teléfono"
          formControlName="phone"
        />
      </div>

      <!-- Contraseña -->
      <div class="form-field">
        <input
          type="password"
          placeholder="Contraseña"
          formControlName="password"
          [ngClass]="{ 'p-invalid': isInvalid('password') }"
        />
        <small *ngIf="isInvalid('password')" class="error-msg"
          >La contraseña es requerida</small
        >
      </div>

      <!-- Repetir Contraseña -->
      <div class="form-field">
        <input
          type="password"
          pInputText
          formControlName="password2"
          [ngClass]="{
            'p-invalid':
              userRegisterForm.hasError('noEsIgual') &&
              userRegisterForm.get('password2')?.touched
          }"
        />
        <small
          *ngIf="
            userRegisterForm.hasError('noEsIgual') &&
            userRegisterForm.get('password2')?.touched
          "
          class="p-error"
        >
          Las contraseñas no coinciden
        </small>
      </div>
      <!-- Botón Registrar -->
      <div class="button-group">
        <button
          type="submit"
          class="btn register-button"
          (click)="registerUser()"
        >
          Registrar
        </button>
      </div>

      <!-- Enlace a login -->
      <p class="login-link">
        ¿Ya tienes una cuenta?
        <a (click)="logInUserBtn()">Logeate</a>
      </p>
    </form>
  </div>
  <a routerLink="/main" class="back-button p-button p-component">
    ← Volver a inicio
  </a>
</div>
