.product-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  min-height: 90.7vh;
  background-color: #60aefc;
}

.product-details-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: left 0.3s ease;
}

@media (min-width: 768px) {
  .product-details-card {
    flex-direction: row;
  }
}

.buy-button {
  background: linear-gradient(135deg, #3082d4, #2a6fb8);
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: inline-flex;
  align-items: center;
}

.buy-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}

.auth-warning {
  margin-top: 0.5rem;
  color: #b91c1c; /* rojo */
  font-weight: 500;
  font-size: 0.95rem;
  background-color: #fee2e2;
  border: 1px solid #fca5a5;
  padding: 0.75rem;
  border-radius: 8px;
  max-width: 400px;
}

.fade-in-top {
  animation: fadeInTop 0.6s ease-in-out;
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.buy-button:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(48, 130, 212, 0.3);
  background: linear-gradient(135deg, #2a6fb8, #1f5a9c);
}

.product-image-section {
  flex: 1;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.product-image {
  width: 100%;
  max-width: 300px;
  object-fit: contain;
  border-radius: 8px;
}

.product-info-section {
  flex: 2;
  padding: 2rem;
}

.product-info-section h2 {
  color: #007ad9;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e1e1e1;
  font-size: 1rem;
}

.label {
  font-weight: bold;
  color: #555;
}

.back-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  transition: left 0.3s ease;
  background-color: #007bff;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-weight: bold;
}

.moved-button {
  left: 260px;
}

.back-button:hover {
  background-color: #0056b3;
}

.moved-data {
  left: 150px
}

.feedback-card {
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #3da3ec;
}

.dialog-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background-color: transparent;
  border: none;
  color: black;
  font-weight: bold;
  padding-top: 5px;
  cursor: pointer;
  margin-left: 1rem;
}

.close-button:hover {
  text-decoration: underline;
}
