<header class="app-header">
  <div class="logo">Mi Aplicación</div>
  <div class="user-actions">
    <ng-container *ngIf="usuario || isEmployee(); else loginRegister">
      <button class="header-btn" (click)="logOff()">Log off</button>
      <span *ngIf="isUser()" class="username">👤 {{ usuario.username }}</span>
      <span *ngIf="isEmployee()" class="username">👤 {{ usuario.name }}</span>
    </ng-container>
    <ng-template #loginRegister>
      <button class="header-btn" (click)="goToLogin()">Login</button>
      <button class="header-btn" (click)="goToRegister()">Registro</button>
    </ng-template>
  </div>
</header>

<div class="sidebar-container" [class.open]="isOpen">
  <button class="close-btn" (click)="toggleSidebar()">×</button>
  <nav class="sidebar-nav">
    <a (click)="goToMain(); toggleSidebar()">🏠 Inicio</a>
    <a (click)="goToProducts(); toggleSidebar()">👤 Productos</a>
    <a *ngIf="isUser()" (click)="goToDeliveries(); toggleSidebar()">📦 Entregas</a>
    <div>
      <button *ngIf="isUser()" class="dropdown-toggle" (click)="toggleSubMenu('company')">
        🏢 Empresa
      </button>
      <div *ngIf="openSubMenu === 'company' && usuario" class="sub-menu">
        <a *ngIf="!usuario?.company" (click)="navigateTo('/main/compania/nueva'); toggleSidebar()">🏭 Crear Compañia</a>
        <a *ngIf="usuario?.company" (click)="navigateTo('/main/compania/productos'); toggleSidebar()">📦 Productos</a>
        <a *ngIf="usuario?.company" (click)="navigateTo('/main/compania/nuevo-producto'); toggleSidebar()">➕ Nuevo Producto</a>
      </div>
      <button *ngIf="isAdmin()" class="dropdown-toggle" (click)="toggleSubMenu('admin')">
        🏢 Admin
      </button>
      <div *ngIf="openSubMenu === 'admin' && usuario" class="sub-menu">
        <a *ngIf="usuario?.hasRole('Admin')" (click)="navigateTo('/main/admin/nuevo'); toggleSidebar()">➕ Registrar Empleado</a>
        <a *ngIf="usuario?.hasRole('Admin')" (click)="navigateTo('/main/admin/empleados'); toggleSidebar()">👤 Empleados</a>
        <a *ngIf="usuario?.hasRole('Admin')" (click)="navigateTo('/main/admin/compania'); toggleSidebar()">🏢 Companias</a>
      </div>
      <button *ngIf="!isUser()"class="dropdown-toggle" (click)="toggleSubMenu('employee')">
        👤 Employee
      </button>
      <div *ngIf="openSubMenu === 'employee'" (click)="toggleSubMenu('employee')" class="sub-menu">
        <a *ngIf="isEmployee()" (click)="navigateTo('/main/empleado/cambioEntregas'); toggleSidebar()">Gestionar entregas</a>
        <a *ngIf="!isEmployee()" (click)="navigateTo('/main/empleado/login'); toggleSidebar()">Login</a>
      </div>
    </div>
  </nav>
</div>

<button class="open-sidebar-btn" (click)="toggleSidebar()">☰</button>
