<div class="company-table-wrapper">
  <div class="table-card">
    <p-table [value]="companies" [responsiveLayout]="'scroll'" class="p-datatable-striped p-datatable-hoverable-rows">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Propietario</th>
          <th>Email</th>
          <th>Activo</th>
          <th>Acción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-company>
        <tr>
          <td>{{ company.name }}</td>
          <td>{{ company.owner?.username || 'Desconocido' }}</td>
          <td>{{ company.owner?.email || 'Sin email' }}</td>
          <td>{{ company.active ? "Sí" : "No" }}</td>

          <td>
            <button
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              (click)="deleteCompany(company.id)"
              [ngClass]=""
              pTooltip="Eliminar compañía"
              tooltipPosition="top"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
