<p-table [value]="companies">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Propietario</th>
      <th>Email</th>
      <th>Acción</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-company>
    <tr>
      <td>{{ company.id }}</td>
      <td>{{ company.name }}</td>
      <td>{{ company.owner.username }}</td>
      <td>{{ company.owner.email }}</td>
      <td>
        <button pButton type="button" icon="pi pi-times" class="p-button-danger"
                (click)="deleteCompany(company.id)">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
