<body>
  <div class="deliveries-container">
    <div *ngFor="let delivery of deliveries" class="delivery-card">
      <div class="delivery-info-row">
        <div>
          <h3>{{ delivery.product.name }}</h3>
          <p>
            <strong>Email del usuario:</strong> {{ delivery.customer.email }}
          </p>
          <p><strong>Destino:</strong> {{ delivery.destination }}</p>
        </div>

        <p-dropdown
          class="delivery-status"
          [options]="statuses"
          [(ngModel)]="delivery.status"
          optionLabel="name"
          [disabled]="!delivery.status.cancelable"
          placeholder="Cambiar estado"
          (onChange)="cambiarEstado(delivery)"
        >
        </p-dropdown>
      </div>
    </div>
  </div>
</body>
