<div class="animate__animated animate__fadeIn animate__faster">
  <div>
    <input
      type="text"
      pInputText
      placeholder="Buscar por nombre"
      [ngClass]="{'moved-search' : sidebarOpen}"
      [(ngModel)]="searchTerm"
      (keyup.enter)="filterProducts()"
      style="width: 300px;"
    />
  </div>
  <div class="product-container" [ngClass]="{'moved-data' : sidebarOpen}">

    <div
      class="product-card"
      *ngFor="let product of products"
      (click)="verDetalles(product.id)"
    >
      <p-card class="p-shadow-4 hoverable">
        <ng-template pTemplate="header">
          <img [src]="getImage(product)" class="product-image" />
        </ng-template>

        <div class="product-details">
          <h3>{{ product.name }}</h3>
          <p class="price">{{ product.price | currency : 'EUR' }}</p>
        </div>
      </p-card>
    </div>
  </div>
</div>
