<div class="animate__animated animate__fadeIn animate__faster">
  <div class="container">
    <br />
    <div class="card__v" *ngFor="let product of products" (click)="verDetalles(product.id)">
      <p-card>
        <ng-template pTemplate="header">
          <div>
          <img [src]="getImage(product)" class="img position__img"/>
          </div>
          <br/>
          <div>
            <p>Nombre: {{ product.name}}</p>
            <p>Precio: {{ product.price | currency : "€" }}</p>
          </div>
        </ng-template>
      </p-card>
      <ng-template pTemplate="footer">
        Cantidad: {{ product.stock}}
      </ng-template>
    </div>
  </div>
  <div class="position_btn_nuevoLibro">
    <button
      pButton
      [routerLink]="['/main/nuevo-libro']"
      label="Nuevo Libro"
      icon="pi pi-plus"
      class="p-button-succes"
    ></button>
  </div>
</div>
