<div class="page-wrapper animate__animated animate__fadeIn animate__faster">
  <p-card class="producto-card">
    <div class="producto-container">
      <!-- Imagen -->
      <div class="producto-img-section">
        <form [formGroup]="productForm">
          <img
          pInputText
          placeholder="Image"
          formControlName="image"
            [src]="
              displayedImage || 'assets/placeholder.png'
            "
            alt="Imagen del producto"
            class="producto-img"
          />
          <input
            type="text"
            pInputText
            placeholder="URL de la imagen"
            formControlName="image"
            (input)="updateImage($event)"
          />
        </form>
      </div>

      <!-- Formulario -->
      <div class="producto-form-section">
        <form [formGroup]="productForm">
          <div class="form-columns">
            <div class="form-group">
              <span class="p-inputgroup-addon"
                ><i class="pi pi-tag"> Nombre</i></span
              >
              <input
                type="text"
                pInputText
                placeholder="Nombre"
                formControlName="name"
              />
              <p *ngIf="isValidField('name')">Campo requerido</p>

              <span class="p-inputgroup-addon"
                ><i class="pi pi-euro"> Precio</i></span
              >
              <input
                type="number"
                pInputText
                placeholder="Precio"
                formControlName="price"
              />
              <p *ngIf="isValidField('price')">Campo requerido</p>

              <span class="p-inputgroup-addon"
                ><i class="pi pi-box"> Stock</i></span
              >
              <input
                type="number"
                pInputText
                placeholder="Stock"
                formControlName="stock"
              />
              <p *ngIf="isValidField('stock')">Campo requerido</p>
            </div>

            <div class="form-group">
              <p-dropdown
                [options]="categorias"
                formControlName="category"
                placeholder="Categoría"
                optionLabel="name"
              ></p-dropdown>
              <p *ngIf="isValidField('categoryId')">Campo requerido</p>
            </div>
          </div>
        </form>

        <div class="btn-form">
          <button
            [disabled]="!productForm.valid"
            pButton
            type="button"
            label="Guardar producto"
            class="p-button-success"
            (click)="saveProduct()"
          ></button>
        </div>
      </div>
    </div>
  </p-card>

  <a routerLink="/main/compania/productos" class="back-button">
     Volver
  </a>
</div>
